$font-stack:    Helvetica, sans-serif;
$randomcolor-1: rgb(158, 185, 94);
$randomcolor-2: rgb(94, 185, 121);
$randomcolor-3: rgb(94, 126, 185);
$randomcolor-4: rgb(167, 94, 185);
$randomcolor-5: rgb(185, 94, 132);