@import "variables";
nav {
  min-height: 72px;

  .nav-box-left {
    background-color: $randomcolor-4;
    border-bottom: 2px solid rgb(252, 21, 34);
    display: inline-flex;
    .rw {
      img {
        width: 116px;
        height: 44px;
      }
      a {
        color: black;
        font-weight: bolder;
        padding: 0;
      }
      a:hover {
        color: rgb(149, 148, 148);
      }
      a:nth-of-type(6) img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .nav-box-left {
    display: none;    
  }

  .fa-bars {
    color: black;
  }
  
  .nav-box-right{
    background-color: $randomcolor-5;
    border-bottom: 2px solid rgb(252, 21, 34);
    display: inline-flex;
    .rw {
      .fa-bell {
        color: orange;
        // padding: 1em;
        }
      }
      .rw {
        a {
          color: black;
          font-weight: bolder;
          // padding: 1em;
        }
      }
    }
}

.main-cont {
  max-width: 72%;
  header {
    .col-header {
      min-height: 100px;
    }
    .h-left {
      background-color: $randomcolor-2;
    } 
    .h-mid {
      background-color: $randomcolor-1;
    }
    .h-right {
      background-color: $randomcolor-3;
    }
  }
}

@media screen and (max-width: 1400px) {
  .rows {
    max-width: 100%;
  }
}




